$text-color-light: #24292e;
$bg-color-light: #ffffff;
$table-border-color-light: #dfe2e5;
$caption-color-light: #6a737d;
$img-shadow-color-light: rgba(0, 0, 0, 0.2);
$img-hover-radius: 4px;

$code-bg-light: rgba(27, 31, 35, 0.05);
$pre-bg-light: #f6f8fa;
$blockquote-color-light: #6a737d;
$blockquote-border-light: #dfe2e5;
$h1-border-color-light: #eaecef;
$h2-border-color-light: #eaecef;

$text-color-dark: #c9d1d9;
$bg-color-dark: #0d1117;
$table-border-color-dark: #30363d;
$caption-color-dark: #8b949e;
$img-shadow-color-dark: rgba(255, 255, 255, 0.6);

$code-bg-dark: rgba(110, 118, 129, 0.4);
$pre-bg-dark: #161b22;
$blockquote-color-dark: #8b949e;
$blockquote-border-dark: #30363d;
$h1-border-color-dark: #21262d;
$h2-border-color-dark: #21262d;

$list-marker-color: #EF871B;
$toc-marker-color: #EF871B;
$toc-marker-glow: 0 0 5px rgba(239, 135, 27, 0.4);
$toc-text-color: #EF871B;
$link-color: #EF871B;

$link-color-standard: #0969da;
$list-color-standard: #000000;
$text-color-standard: #000000;

$code-tag-text-color: #EF871B;
$code-tag-bg-light: #ffffff;
$code-tag-bg-dark: #0d1117;

$img-frame-color: #EF871B;
$img-frame-label-bg-light: #FFF5EB; /* Solid Very Light Orange */
$img-frame-label-bg-dark: #3E2C1E; /* Solid Dark Orange-ish for Dark Mode */
