@use 'base';
@use 'plugins/katex';
@use 'plugins/toc';
@use 'plugins/code';
@use 'plugins/caption';
@use 'plugins/img-frame';
@use 'themes/default';
@use 'themes/light';
@use 'themes/dark';
@use 'themes/academic';
